.h1-home{
  text-align: center;
  margin-top: 100px;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  margin-bottom: 20px;
}

.btn-home{
  width: 450px;
  margin-top: 20px;
  margin-left: 32%;
}

.input-home{
  width: 20px;
}

.register-task-home{
  margin-left: 7px;
}

.footer-home{
  margin-top: 467px;
}